In [1]:
#!pip3 install pandas
import pandas as PD

In [2]:
Cities_Temp_Dict = {

    'name' : ['Mumbai', 'Pune', 'Nagpur'],
    'temp' : [23.12, 16.34, 12.56],
    'weather' : ['sunny', 'light_shower', 'thunderstorm'],
    'humidity' : [34, 25, 89],
    'precipitation' : [2, 23, 46],
    'will_rain': [False, True, True]
}

Cities_Temp_Dict

{'name': ['Mumbai', 'Pune', 'Nagpur'],
 'temp': [23.12, 16.34, 12.56],
 'weather': ['sunny', 'light_shower', 'thunderstorm'],
 'humidity': [34, 25, 89],
 'precipitation': [2, 23, 46],
 'will_rain': [False, True, True]}

In [6]:
DF = PD.DataFrame(Cities_Temp_Dict)
print("Data Shape :", DF.shape)
print("Data Size :", DF.size)
DF

Data Shape : (3, 6)
Data Size : 18

     name   temp       weather  humidity  precipitation  will_rain
0  Mumbai  23.12         sunny        34              2      False
1    Pune  16.34  light_shower        25             23       True
2  Nagpur  12.56  thunderstorm        89             46       True

In [5]:
DF.head()

     name   temp       weather  humidity  precipitation  will_rain
0  Mumbai  23.12         sunny        34              2      False
1    Pune  16.34  light_shower        25             23       True
2  Nagpur  12.56  thunderstorm        89             46       True

In [7]:
#Default DataType 
DF.dtypes

dtype('O')

In [5]:
DF = DF.astype({
    'name': 'string', 
    'temp': 'float32', 
    'weather' : 'string',
    'humidity' : 'int32',
    'precipitation' : 'int32',})
DF.dtypes

name              string
temp             float32
weather           string
humidity           int32
precipitation      int32
will_rain           bool
dtype: object

In [6]:
DF['weather'].replace(['sunny', 'light_shower', 'thunderstorm'], [0,1,2], inplace=True)
DF.dtypes

name              string
temp             float32
weather            int64
humidity           int32
precipitation      int32
will_rain           bool
dtype: object

In [7]:
DF = DF.astype({
    'weather' : 'int16'
})
DF.dtypes

name              string
temp             float32
weather            int16
humidity           int32
precipitation      int32
will_rain           bool
dtype: object

In [8]:
DF

     name       temp  weather  humidity  precipitation  will_rain
0  Mumbai  23.120001        0        34              2      False
1    Pune  16.340000        1        25             23       True
2  Nagpur  12.560000        2        89             46       True

In [9]:
DF["weather"] = DF["weather"].astype('category')
DF.dtypes

name               string
temp              float32
weather          category
humidity            int32
precipitation       int32
will_rain            bool
dtype: object